
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

/*  Body & Main */

body  {
  margin: 0;
}

main {
margin: 0 auto;
width: 80%;
}


/* Article */


article {
  display: inline-block;
  width: 30%;
  margin-top: 20%;
}

p {
  color: #779ECB;
  display: inline;
  line-height: 40px;
}

.c {
  margin-left: 150px;
}


/* Section */


section {
  border: 2px solid #779ECB;
  padding: 20px;
}

section img {
  height: 90%;
  width: 90%;
  display: block;
  margin: 0 auto;
}



 /* Nav */

nav {

  height: 40px;
  border: 2px solid red;

}


nav ul  {
 list-style: none;
 padding: 0;
 margin: 0;
 border: 2px solid green;
 height: 40px;

}

section ul  {
 list-style: none;
 display: block;
 padding: 0;
 margin: 0;
 border: 2px solid green;
 height: 40px;
 width: 100%;
}




section ul li {
  height: 100%;
  width: 18%;
  height: 40px;
   border: 2px solid blue;
  border-left: 2px solid #779ECB;
  border-bottom: 2px solid #779ECB;
  float: left;

}


/*nav ul li {
  height: 100%;
  width: 18%;
  height: 40px;
   border: 2px solid blue;
  border-left: 2px solid #779ECB;
  border-bottom: 2px solid #779ECB;
  float: left;
}*/




.z {
  border-right: 2px solid #779ECB;
}
