
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

/*  Body & Main */

body  {
  margin: 0;
}

main {
margin: 0 auto;
width: 80%;
}


/* Article */

article {
  display: inline-block;
  width: 300px;
  margin: 50px 10px 50px 10px;
}




/* Section */


section {
  border: 2px solid #779ECB;
  padding: 20px;
  position: relative;
  width: 300px;
  box-sizing: border-box;

}

/* section image rules */


section img {
  width: 120px;
  display: block;
  margin: 0 auto;
}

i:hover ~ img {
  background: #779ECB;
  color: #ffffff;
  transform: rotateY(-90deg);
  transition: all .5s linear;

}



/*.front:hover {
  transform: rotateY(-90deg);
  transition: all .5s linear;
}*/



.back {
  position: relative;
  width: 120px;
  margin: 0 auto;
}


.front {
position: absolute;
top: 38px;
left: 88px;
z-index: 1;

}



/* This code is for rotate imgage arrow */
section ul li{
  padding: 6px;
  /*margin: 0;
  padding: 0;*/
  position: absolute;
  top: 0px;
  right: 0px;
  border-left: 2px solid #779ECB;
  border-bottom: 2px solid #7793cb;
  color: #779ECB;
}

section ul {
  margin: 0;
  padding: 0;
}

 /* Nav */

nav ul  {
 list-style: none;
 padding: 0;
 margin: 0;
}

nav ul li {
  width: 57.5px;
  height: 10px;
  padding: 8px 0 12px 0;
  border-left: 2px solid #779ECB;
  border-bottom: 2px solid #779ECB;
  float: left;
}

.colors {
  text-decoration: none;
  color: #779ecb;
  display: block;
}

nav ul li:hover >ul  {
  background-color: white;
  color: #779ecb;
  border: 0 solid white;
  display: block;
  opacity: 1;
}

li.fa.fa-eye.small {
  font-size: 10px;
}

li.fa.fa-eye.medium {
  font-size: 12px;
}

li.fa.fa-eye.large {
  font-size: 14px;
}

li.fa.fa-eye.xtra {
  font-size: 16px;
}

.pink {
    color: #da99b9;
}

.blue {
  color: #779ECB;
}

.green {
  color: #33ff6b;
}

.yellow {
  color: #ffc200;
}

.dropdown {
  margin-top: 6px;
  position: absolute;
  bottom: 45px;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
  display: none;

}

.dropdown {
  border: 2px solid #779ECB;
}


nav ul li:hover >table  {
  display: block;
}


table {
  margin-top: 6px;
  position: absolute;
  bottom: 45px;
  left: 10px;
  display: none;
}

table {
  border: 2px solid #779ECB;
  background-color: #ffffff;
}


nav ul li {
color: #779ecb;
text-align: center;
position: relative;

}

.z {
  border-right: 2px solid #779ECB;
}

.arrows:hover {
  background-color: #779ecb;
  color: white;
}

.heart:hover {
  background-color: #779ecb;
  color: white;
}

.cart:hover {
  background-color: #779ecb;
  color: white;
}

.square {
  color: #ffc200;
}

.pink-square {
  color: #da99b9;
}

.square:hover {
background-color: #779ecb;
}

.pink-square:hover {
background-color: #779ecb;
}

.blue:hover {
background-color: #779ecb;
}


/* Bottom Paragraph */

p {
  color: #779ECB;
  display: inline;
  line-height: 40px;
}

.c {
  margin-left: 150px;
}


/*@media print style

/*mobile phone style*/
@media screen and (min-width: 420px) {

  article {
    float: left;
  }

}


/*tablet style*/

@media screen and (min-width: 600px) and (max-width: 799px){

  article {
    width: 300px;

  }

}


/*desktop style*/

@media screen and (min-width: 800px) {
  article {
    width: 300px;
  }
}
